#recommended{
	margin: 1rem;
	margin-bottom: 8rem;
	padding: 5px;
}


.header{
	font-family: "Raleway";
}

.content{
	font-family: "Lora";
}


p{
	margin-bottom: 1.5rem;
}


.recs{
	margin: 3rem;
	display: inline-grid;
}
.recs-picture{
	height: 15rem;
}