#nav{
	margin: 1rem;
	padding: 5px;
}

#nav-logo{
	height: 2rem;
}


.header{
	font-family: "Raleway";
}

.content{
	font-family: "Lora";
}


p{
	margin-bottom: 1.5rem;

}


.link{
	color: black;
	padding-bottom: 5px;
	margin-left: 5rem;

}

.link:hover{
	border-bottom: 2px solid black;
	border-radius: 0;
	transition: 0.5s;

}